.tracking-in-expand{ animation:tracking-in-expand .15s cubic-bezier(.215,.61,.355,1.000) both; -webkit-animation:tracking-in-expand .15s cubic-bezier(.215,.61,.355,1.000) both; }
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
